.banner-container {
    background-color: rgb(233, 237, 241);
    height: 60vh; /* Ajusta la altura para que sea más grande */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }